.pet {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

.pet img {
  width: 350px;
  aspect-ratio: 16/9;
  border-radius: 8px;
}
